.card {
  height: 440px;
  width: 350px;
  margin: 12px;
  display: flex;
  flex-direction: column;
  background-color: #efefef;
  transition: 1s;
  cursor: pointer;
  user-select: none;
  .image {
    width: 350px;
    height: 350px;
  }
  .price {
    display: flex;
    justify-content: flex-start;
    font-size: 24px;
    color: rgb(59, 59, 59);
    font-weight: 400;
    padding: 16px;
  }

  .name {
    display: flex;
    justify-content: flex-start;
    font-size: 18px;
    color: rgb(59, 59, 59);
    padding: 0px 16px;
    text-align: start;
  }
}

.card:hover {
  transform: scale(1.01);
  box-shadow: 0px 1px 5px black;
}

.button-container {
  width: 100%;
  display: flex;
  justify-content: center;
  .button-to-cart {
    background-color: black;
    height: 50px;
    font-size: 20px;
    cursor: pointer;
    margin: 12px;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 80% !important;
  }
}