.product-card {
  height: 100%;
  width: 100%;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;

  .left-block {
    width: 40%;
    padding: auto;
    img {
      width: 100%;
    }
  }
  .right-block {
    width: 50%;
    text-align: start;
    padding-left: 24px;
  }
  .cart-button {
    margin-top: 24px;
    width: 200px;
    height: 40px;
    font-size: 18px;
    font-weight: 600;
    display: flex;
    justify-content: center;
    align-content: center;
    background-color: #efefef;
    flex-wrap: wrap;
    cursor: pointer;
    user-select: none;

  }
  .cart-button:hover {
    background-color: rgb(204, 204, 204);
  }
}