@font-face {
  font-family: 'Linotype';
  src: url('./fonts/LinotypeSyntaxCom-Regular.ttf');
}

body {
  font-family: "Linotype" !important;
}

.app {
  text-align: center;
  .app-container {
    margin: 0 180px;
  }
  .left-image {
    position: absolute;
    left: 0;
    top: 835px;
  }
  .right-image {
    position: absolute;
    right: 0;
    top: 20px;
  }
}
